
<div class="modal fade" id="how-it-works-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">How it works</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>
            Start forming your habits with EveryDayHabits. Healthy habits will improve your life in the long run.
            Be realistic and don't set too much limits, otherwise you'll just drop the case.
          </p>
          <p>To get started:</p>
          <ol>
            <li>
              Click on "+ new habit" to create a habit. Set a name and goal for this habit. In the future, you can change these parameters.
            </li>
            <li>
              Click on "+ note" to write a note. In the future, you can change date and text of note too.
            </li>
            <li>
              Click on the cell in the table to mark the fulfillment of today's habit. Click again to remove the mark.
            </li>
          </ol>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
