{% extends "base.html"%}

{% block content %}
<html>
  <body class="bg-dark">
    <div class="container w-50 mt-5">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary bg-dark " id="form"
      action="/v1/login"
      method="POST" >
        <h2 class="mb-3">Change password</h2>
        <div class="form-floating mb-3">
            <input name="password" type="password" class="form-control" id="pwd" placeholder="Login" required="">
            <label for="floatingPassword">password</label>
          </div>
        <div class="form-floating mb-3">
          <input name="password" type="password" class="form-control" id="pwd-confirm" placeholder="Login" required="">
          <label for="floatingPassword">repeat password</label>
        </div>
        <div class="text-center">
          <button class="w-100 btn btn-lg btn-success" type="submit" id="btn">
            <span class="spinner-border spinner-border-sm visually-hidden" id="spnr" aria-hidden="true"></span>
            <span role="status">
              Change password
            </span>
          </button>
          <div class="invalid-feedback-my" id="invalid-fbck"></div>
          <div class="valid-feedback-my" id="valid-fbck"></div>
          <a href="/login">
            <p class="text-center" id="href-log-page">

            </p>
          </a>
        </div>
        <hr>
      </form>
    </div>
    <script src="{{ url_for('static', path='/scripts/auth/reminder/change-password.js')}}"></script>
  </body>
</html>
{% endblock %}
