{% extends "base.html"%}

{% block content %}
<html>
  <body class="bg-dark">
    <div class="container w-50 mt-5">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary bg-dark " id="reg_form"
      action="/v1/login"
      method="POST" >
        <h2 class="mb-3">Register</h2>
        <div class="form-floating mb-3">
          <input name="email" type="email" class="form-control" id="floatingInput" placeholder="Login" required="">
          <label for="floatingInput">email</label>
        </div>
        <div class="form-floating mb-3">
          <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Login" required="">
          <label for="floatingPassword">password</label>
        </div>
        <div class="text-center">
          <button class="w-100 btn btn-lg btn-success" type="submit" id="reg-btn">
            <span class="spinner-border spinner-border-sm visually-hidden" id="spnr" aria-hidden="true"></span>
            <span role="status">
              Sing up
            </span>
          </button>
          <button class="btn d-none" type="button" id="send-again" >Send mail again</button>
          <div class="invalid-feedback-my" id="invalid-fbck"></div>
          <div class="valid-feedback-my" id="valid-fbck"></div>
        </div>
        <hr>
      <div>
        <a href="/login">
          <p class="text-center">
            Already have an account?
          </p>
        </a>
      </div>
      </form>
    </div>
    <script src="{{ url_for('static', path='/scripts/auth/register.js')}}"></script>
  </body>
</html>
{% endblock %}
